[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
pylint = "*"
pydocstyle = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-order = "*"
pytest-depends = "*"
testcontainers = "*"

[packages]
origin-platform-utils = "0.6.5"
fastapi = "*"

[scripts]
update-platform = "pip install --upgrade ./../ett-platform-utils"

[requires]
python_version = "3.8"
