[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-docstrings = "*"
pylint = "*"
pydocstyle = "*"
pycodestyle = "*"
pytest = "*"
pytest-cov = "*"
pytest-order = "*"
pytest-depends = "*"
testcontainers = "*"
requests-mock = "*"

[packages]
origin-platform-utils = "0.6.5"

[scripts]
lint-flake8 = "flake8"
lint-pylint = "pylint ."
lint-pycodestyle = "pycodestyle ."
lint-all = "bash -c './scripts/lint.sh'"
testall= "pytest tests"
unittest= "pytest tests -m unittest --tb=native"
integrationtest= "pytest tests -m integrationtest --tb=native"
update-platform = "pip install --upgrade ./../eo-platform-utils"

[requires]
python_version = "3.8"
