[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
pytest = "*"
testcontainers = "*"

[packages]
peterplys = "0.4.1"

[scripts]
update-platform = "pip install --upgrade ./../ett-platform-utils"
lint-flake8 = "flake8"
unittest= "bash ./scripts/run_unittests.sh"
integrationtest= "bash ./scripts/run_integrationtest.sh"

[requires]
python_version = "3.8"
